RewriteEngine On
RewriteBase /E-Commerce3/

# Exclude POST requests
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{REQUEST_URI} !\.(png|jpg|jpeg|gif|css|js)$ [NC]
RewriteRule ^(.*)$ index.php [QSA,L]