#navbar-logo {
  max-height: 50px;
}
#navbar-small-logo {
  max-height: 70px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}
.footer-container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#user-icon {
  color:white !important;
  font-size:35px !important;
}
.main {
  padding: 20px;
  margin: 0 auto;
}
.navbar-container {
}
#login-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

